page-recover {
    .central{
        padding-top: 100px;
    }
    .textos{
        text-align: center;
    }
    h2{ 
        text-align: center;
        padding-top: 30px;
        font-size: 30px;

    }
}
